.root{
-fx-background-color: black;
-fx-font-size: 25px;
}

.combo-box .list-cell{
-fx-text-fill: white;
-fx-background-color: green;
}


.combo-box{
-fx-background-color: green;
-fx-text-fill: white;
-fx-font-size: 16px;
-fx-font-family: Arial;

-fx-border-width: 5px;
}